
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background-color:#ccc;
}
body{
    background-color: #111;
    display: flex;
    flex-direction: column;
}
section{
    margin-top: 50px;
}
header{
    background-color: #222;
    position: sticky;
    top: 0;
    left: 10px;
    right:  10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-weight: 100%;
    padding:  0 5%;
    width: 100%;
   
}
header .logo a{
    font-size: 25px;
    color: rgba(128, 255, 0, 0.877);
    text-decoration: 0;
}
header .logo a span{
color:#fff;
}
.menu{
    display: flex;
    align-items: center;

}
.menu li {
    margin: 0 15px;
    list-style-type: none;

}

.menu li a {
    color: #fff;
    font-size: 14px;
}
.btn-reservation{
    color:rgba(128, 255, 0, 0.877);
    font-size: 14px;
    border: 2px solid rgba(128, 255, 0, 0.877);
    padding: 5px 20px ;
    transition: 0.5s;
}
.btn-reservation:hover{
    background-color:rgba(128, 255, 0, 0.877);
    color: #fff;
    font-weight: bolder;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 14px;
}
footer span {
    color: rgba(128, 255, 0, 0.877);
    font-weight: bold;
}
.responsive-menu{
    display: none;
}
main { flex: 1; }

/*Responsive*/
@media (max-width:750px) {
   header .menu {
       display: none;
   } 
   .btn-reservation{
        display: none;
   }
   /*Home responsive*/
   #home h2 {
    font-size: 18px;
    -webkit-text-stroke: 0;
    color: #fff;
   }
   #home h4 {
       font-size: 28px;
   }
   #home p {
       text-align: center;
       font-size: 10px;
   }
   .find_trip {
        width: 100%;
        height: 200px;

   }
   .find_trip form {
         flex-wrap: wrap;
   }
   .find_trip form div{
       margin-top: 10px;
       flex-direction: column;
       width: 47%;
   }
   .find_trip form input[type="submit"]{
        width: 47%;
   }
   /*Responsive A propos*/
   .img-desc {
    flex-direction: column;
    width: 100%;
   }
   .img-desc .left, .img-desc .right{
        width: 100%;
   }
   .img-desc .left video{
    width: 100%;
   }
   .img-desc .lef::after{
       background-color: transparent;
   } 
   .img-desc .lef {
         margin-bottom: 20px;
   }
   /*Responsive menu*/
   .responsive-menu{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
   } 
   .responsive-menu::after{
        position: absolute;
        content:"";
        height: 3px;
        background-color: #29d929;
        width: 28px;
        box-shadow: 0 10px 0 #29d929;
        transform: translateY(-10px);
        transition: 0.5s;
   }
   .responsive-menu.active::after{
    box-shadow: 0 0 0 #29d929;
    transform: rotate(45deg);
   }
.responsive-menu::before{
    position: absolute;
    content:"";
    height: 3px;
    background-color: #29d929 ;
    width: 28px;
    transform: translateY(-10px);
    transition: 0.5s;
}
.responsive-menu.active::before{
    transform: rotate(-45deg);
}
header .menu.responsive{
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    flex-direction: column;
    background-color: #222;
    align-items: unset;
    animation: animate-menu 1s forwards;
}

header .menu.responsive li {
    margin: 20px;
    width:100px;
    padding-left: 20px;
}
@keyframes animate-menu{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
}

/* home accueil css */
body{
    background: linear-gradient(rgba(0, 0, 0, 0.1),#333), url("assets/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
body #lepp {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
.container{
    display: flex;
}
.card{
    height: 200px;
    margin: 40px;
    box-shadow:  5px 5px 5px  rgba(128, 255, 0, 0.877);
    overflow: hidden;
}
img{
    height: 200px;
    width: 275px;
    border-radius: 3px;
    transition: .5s;
}
.intro{
    height: 150px;
    width: 275px;
    padding: 3px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27,27 , .5);
    color: white;
    transition: .5s;
}
h1 {
    margin: 8px;
    font-size: 30px;
    background-color: #29d929;
}
.bumagg{
    margin: 8px;
    font-size: 30px;
   background:none;
    color: #fff;
    position: fixed;
    top: 45px;
}
p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;

}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom: 240px;
    background: black;

}
.card:hover p{
    opacity: 1;
    visibility: visible;

}
.card:hover img{
transform: scale(1.1) rotate(-3deg);
}

.responsive-menu{
    display: none;
}

/*Responsive*/
@media (max-width:750px) {
   header .menu {
       display: none;
   } 
   .btn-reservation{
        display: none;
   }
   /*Home responsive*/
   #home h2 {
    font-size: 18px;
    -webkit-text-stroke: 0;
    color: #fff;
   }
   #home h4 {
       font-size: 28px;
   }
   #home p {
       text-align: center;
       font-size: 10px;
   }
   .find_trip {
        width: 100%;
        height: 200px;

   }
   .find_trip form {
         flex-wrap: wrap;
   }
   .find_trip form div{
       margin-top: 10px;
       flex-direction: column;
       width: 47%;
   }
   .find_trip form input[type="submit"]{
        width: 47%;
   }
   /*Responsive A propos*/
   .img-desc {
    flex-direction: column;
    width: 100%;
   }
   .img-desc .left, .img-desc .right{
        width: 100%;
   }
   .img-desc .left video{
    width: 100%;
   }
   .img-desc .lef::after{
       background-color: transparent;
   } 
   .img-desc .lef {
         margin-bottom: 20px;
   }
   /*Responsive menu*/
   .responsive-menu{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
   } 
   .responsive-menu::after{
        position: absolute;
        content:"";
        height: 3px;
        background-color: #29d929;
        width: 28px;
        box-shadow: 0 10px 0 #29d929;
        transform: translateY(-10px);
        transition: 0.5s;
   }
   .responsive-menu.active::after{
    box-shadow: 0 0 0 #29d929;
    transform: rotate(45deg);
   }
.responsive-menu::before{
    position: absolute;
    content:"";
    height: 3px;
    background-color: #29d929 ;
    width: 28px;
    transform: translateY(-10px);
    transition: 0.5s;
}
.responsive-menu.active::before{
    transform: rotate(-45deg);
}
header .menu.responsive{
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    flex-direction: column;
    background-color: #222;
    align-items: unset;
    animation: animate-menu 1s forwards;
}

header .menu.responsive li {
    margin: 20px;
    width:100px;
    padding-left: 20px;
}
@keyframes animate-menu{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
}
.rek{color: #111;}
html, body {
    height: 100%;
    margin: 0;
}